/* Base Styles */
.page {
  max-width: 1200px;
  padding: 0 8px;
  margin: 20px auto;
}

.app-container {
  display: flex;
}

input {
  padding: 8px;
  margin-right: 8px;
}

/* Button Styles */
button {
  padding: 8px;
  background-color: #d2b48c;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #b8860b;
}

/* Login Page Styles */
.login-page {
  max-width: 1200px;
  padding: 0 8px;
  margin: 20px auto;
  text-align: center;
}

.login-form {
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 16px;
  background-color: #f9f9f9;
  width: 20%;
  min-width: 290px;
  margin: auto;
  padding: 10px;
}

.login-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.login-label {
  margin: 0 8px;
}

.login-buttons {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 8px;
}

.login-button {
  margin: 0 8px;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.header h1 {
  margin: 0 8px 0 0;
}

/* Calendar Styles */
.full-width-container {
  width: 100%;
}

.calendar-container {
  width: 70%;
  margin-right: 20px;
}

.calendar {
  display: grid;
  gap: 8px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #f0f0f0;
  font-weight: bold;
}

.calendar-nav-button {
  margin: 0 8px;
  padding: 8px 9px;
  border-radius: 100px;
  text-align: center;
  vertical-align: baseline;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

.day {
  padding: 8px;
  text-align: center;
  cursor: pointer;
}

.day.of-week {
  font-weight: bold;
}

.day.active:hover {
  background-color: #e6e6e6;
}

.event {
  background-color: #d2b48c;
  color: white;
  padding: 4px;
  margin: 4px auto auto;
  max-width: 9ch;
  overflow: hidden;
  text-overflow: ellipsis;
}

.full-width-container .event {
  max-width: 14ch;
}

/* Event Form Styles */
.event-form {
  text-align: center;
  margin-top: 20px;
}

.event-form input {
  width: 30%;
  height: 30%;
}

/* Event List Styles */
.zero-width-container {
  width: 0%;
}

.event-list-container {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.event-list-container button {
  margin-bottom: 0px;
}

.event-list {
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 10px;
  background-color: #f9f9f9;
}

.event-list h2 {
  text-align: center;
}

.event-list ul {
  list-style-type: none;
  padding: 0;
}

.event-list li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.event-list span {
  text-align: left;
  flex-grow: 1;
}

.event-list button {
  padding: 1px 2px;
  font-size: 10px;
  text-align: center;
}

.del-button {
  float: right;
  margin: -10px -10px auto 0;
  padding: auto;
  height: 15px;
  width: 15px;
  text-align: center;
}

.edit-button {
  float: left;
  margin: -10px 0 auto -10px;
  padding: auto;
  height: 15px;
  width: 15px;
  text-align: center;
}

.clear-date-button {
  display: block;
  margin: 8px auto 0 auto;
  padding: 10px;
  text-align: center;
}

.clear-date-text {
  padding: 1px;
  font-size: 8px;
}

.event-date {
  display: inline-block;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 30%;
  margin-right: 8px;
  padding: 5px 5px;
  font-size: 12px;
  text-align: center;
  cursor: default;
}

.event-date-input {
  margin: 8px auto;
}

.event-date input {
  height: 0;
  width: 80%;
  font-size: 10px;
  margin: -5px -60px;
}

.event-title {
  margin-right: 8px;
  width: 70%;
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

.event-title input {
  height: 4px;
  width: 90%;
  font-size: 10px;
}

/* iOS devices */
@supports (-webkit-touch-callout: none) {
  .event-date-input {
    margin-top: -8px;
  }

  .event-date input {
    max-width: 80%;
  }

  .event-title input {
    width: 85%;
  }
}

@media only screen and (max-width: 1024px) {
  /* Calendar Styles */
  .day {
    font-size: 12px;
  }

  .event {
    font-size: 10px;
  }

  /* Event List Styles */
  .event-list h2 {
    font-size: 20px;
  }

  .event-date {
    width: 45%;
    font-size: 10px;
  }

  /* non-iOS devices */
  @supports not (-webkit-touch-callout: none) {
    .event-date-input {
      margin-top: 10px;
    }
  }
}

@media only screen and (max-width: 720px) {
  .page {
    padding: 0;
  }

  .app-container {
    display: grid;
  }

  .calendar-container {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .event-list-container {
    width: 95%;
    margin: 0 auto;
  }

  /* Header Styles */
  .header {
    padding-left: 8px;
    padding-right: 8px;
  }

  /* Calendar Styles */
  .event {
    font-size: 8px;
    max-width: 6ch;
  }

  .full-width-container .event {
    max-width: 6ch;
  }

  /* Event List Styles */
  .event-date {
    min-width: 20%;
    width: auto;
  }

  /* non-iOS devices */
  @supports not (-webkit-touch-callout: none) {
    .event-title input {
      width: 90%;
    }
  }
}
