/* Base Styles */

.page {
  max-width: 1200px;
  padding: 0 8px;
  margin: 20px auto;
}

.app-container {
  display: flex;
}

/* Button Styles */

button {
  padding: 8px;
  background-color: #d2b48c;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #b8860b;
}

/* Login Page Styles */

.login-page {
  max-width: 1200px;
  padding: 0 8px;
  margin: 20px auto;
  text-align: center;
}

.login-form {
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 16px;
  background-color: #f9f9f9;
  width: 20%;
  min-width: 290px;
  margin: auto;
  padding: 10px;
}

.login-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.login-label {
  margin: 0 8px;
}

.login-buttons {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 8px;
}

.login-button {
  margin: 0 8px;
}

/* Header Styles */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.header h1 {
  margin: 0 8px 0 0;
}

/* Calendar Styles */

.full-width-container {
  width: 100%;
}

.calendar-container {
  width: 70%;
  margin-right: 20px;
}

.calendar {
  display: grid;
  gap: 8px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #f0f0f0;
  font-weight: bold;
}

.calendar-nav-button {
  margin: 0 8px;
}

.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  text-align: center;
  font-weight: bold;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

.day {
  padding: 8px;
  text-align: center;
  cursor: pointer;
}

.day.active:hover {
  background-color: #e6e6e6;
}

/* Event Form Styles */

.event-form {
  margin-top: 20px;
}

input {
  padding: 8px;
  margin-right: 8px;
}

/* Event List Styles */

.zero-width-container {
  width: 0%;
}

.event-list-container {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.event-list-container button {
  margin-bottom: 0px;
}

.event-list {
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 10px;
  background-color: #f9f9f9;
}

.event-list h2 {
  text-align: center;
}

.event-list ul {
  list-style-type: none;
  padding: 0;
}

.event-list li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.event-list span {
  text-align: left;
  flex-grow: 1;
}

.event-list button {
  float: left;
  margin: -12% 0 auto -12%;
  padding: 1px 2px;
  font-size: 10px;
  text-align: center;
}

.event {
  background-color: #d2b48c;
  color: white;
  padding: 4px;
  margin-top: 4px;
}

.event-date {
  display: inline-block;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 25%;
  margin-right: 8px;
  padding: 5px 5px;
  font-size: 12px;
  text-align: center;
  cursor: default;
}

.event-title {
  margin-right: 8px;
}

@media only screen and (max-width: 1024px) {
  .event-date {
    font-size: 10px;
  }

  .event-title {
    font-size: 12px;
  }

  .event-list h2 {
    font-size: 20px;
  }

  .event-list button {
    margin: -10px 0 auto -10px;
    font-size: 8px;
  }
}
